*.o
*.d
*.s
*.a
/stir
/stiryy.lex.c
/stiryy.lex.h
/stiryy.tab.c
/stiryy.tab.h
/intermediatestore/
/STIRYY.LEX.INTERMEDIATE
/STIRYY.TAB.INTERMEDIATE
/INCYY.LEX.INTERMEDIATE
/INCYY.TAB.INTERMEDIATE
/inc
/incyy.lex.c
/incyy.lex.h
/incyy.tab.c
/incyy.tab.h
/stirmain
/arraytest
/luatest
/cctest
/streamtest
/globtest
