*.o
*.d
*.s
*.a
/stir
/stiryy.lex.c
/stiryy.lex.h
/stiryy.tab.c
/stiryy.tab.h
/inc
/incyy.lex.c
/incyy.lex.h
/incyy.tab.c
/incyy.tab.h
/stirmain
/arraytest
/luatest
/cctest
/streamtest
/globtest
/bttest
/jsontest
/dbyy.lex.c
/dbyy.lex.h
/dbyy.tab.c
/dbyy.tab.h
